.question {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  background-color: $light;

  &__content {
    display: flex;
    align-items: center;
    column-gap: 15px;
    font-size: 15px;
  }

  &__title {
    font-weight: 700;
    white-space: nowrap;
  }

  &__description {
    text-wrap: balance;
  }

  &__answers {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }

  &__btn {
    @extend .main-btn;
  }
}
