.reviews {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
  background-color: $light;
  padding: 10px;
  border-radius: 10px;

  &__head {
    padding: 10px;
    background-color: $light-gray--700;
    display: flex;
    align-items: center;
    column-gap: 50px;
  }

  &__title {
    color: $dark-blue--400;
    white-space: nowrap;
  }

  &__action-block {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
  }

  &__textarea {
    outline: none;
    resize: none;
    width: 100%;
    max-width: 500px;
    border: 1px solid rgba($accent--orange, 0.3);
    border-radius: 10px;
    padding: 5px;
    color: $dark-blue--400;

    &::placeholder {
      font-weight: 500;
    }

    &:focus {
      border-color: $accent--orange;
    }
  }

  &__btn {
    min-width: 130px;
  }

  &__comment-container {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
  }
}
