$light: #fff;
$dark: #000;

$dark-blue--900: #212529;
$dark-blue--700: #232f3e;
$dark-blue--500: #37475A;
$dark-blue--400: #3b5998;

$light-gray--700: #eeeff4;
$light-gray--500: #f2f2f2;
$light-gray--400: #f0f0f0;

$accent--red: #d91627;
$accent--orange: #ed9220;
