{{#each comments}}
<div class="comment">
  <div class="comment__top">
    <a href="#!" class="comment__ava">
      <img src="{{ava}}" alt="ava" />
    </a>
    <div class="comment__content">
      <a href="#!" class="comment__name">{{name}}</a>
      <p class="comment__text">{{text}}</p>
    </div>
  </div>
  <div class="comment__bottom">
    <a href="#!" class="comment__status"
      >Curte·comente
      <img src="{{like}}" alt="like" />
      <span>{{likesNumber}}</span>
    </a>
    <a href="#!" class="comment__time">{{timeNumber}} {{timeUnit}} antes</a>
  </div>
</div>
{{/each}}
